:root{
  --color-red : red;
  --color-gray : #5F5F5F;

  --space-small: 20px;
  --space-medium: 50px;

  --main-width: 1024px;

  --main-font-size: 20px;
}

*{
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}

header{
  display: flex;
  justify-content: space-around;
}

ul{
  display: flex;
  list-style-type: none;
}